<template>
  <div class="play__container container">
    <div class="play__row d-flex v-center h-between w-100">
      <div class="play__wrap d-flex dir-column w-100">
        <div class="play__wrap-title font-size-xl font-weight-semibold">
          Начни игру прямо сейчас
        </div>
        <div class="play__wrap-sub font-size-base">
          Скачайте игру и клиент мультиплеера за несколько кликов и без рекламы.
        </div>
        <div
          class="play__wrap-video d-flex v-center font-size-base font-weight-semibold"
        >
          <ui-icon icon="play-video" />
          Смотреть ролик
        </div>
      </div>
      <div class="play__items w-100">
        <div class="play__item d-flex dir-column rounded w-100">
          <div class="play__item-title font-size-md font-weight-semibold">
            Скачать GTA: San Andreas
          </div>
          <div class="play__item-sub font-size-sm">
            Без дополнений и модификаций
          </div>
          <ul class="play__item-list d-flex dir-column w-100">
            <li class="d-flex v-center font-size-sm">
              <ui-icon icon="check" />
              Удобный инсталятор
            </li>
            <li class="d-flex v-center font-size-sm">
              <ui-icon icon="check" />
              Быстрая скорость скачивания
            </li>
          </ul>
          <a
            href="https://www.rockstargames.com/sanandreas/"
            target="_blank"
            class="d-flex no-underline w-100"
          >
            <ui-button class="play__item-btn w-100" hover>
              <ui-icon icon="cloud" />
              Скачать
            </ui-button>
          </a>
          <div class="play__item-size text-center w-100">
            Размер файла: 1.3GB
          </div>
        </div>
        <div class="play__item d-flex dir-column rounded w-100">
          <div class="play__item-title font-size-md font-weight-semibold">
            Скачать Multi Theft Auto
          </div>
          <div class="play__item-sub font-size-sm">
            Клиент мультиплеера последней версии
          </div>
          <ul class="play__item-list d-flex dir-column w-100">
            <li class="d-flex v-center font-size-sm">
              <ui-icon icon="check" />
              Чистый клиент
            </li>
            <li class="d-flex v-center font-size-sm">
              <ui-icon icon="check" />
              Малый размер инсталятора
            </li>
          </ul>
          <a
            href="https://www.mtasa.com/"
            target="_blank"
            class="d-flex no-underline w-100"
          >
            <ui-button class="play__item-btn w-100" hover>
              <ui-icon icon="cloud" />
              Скачать
            </ui-button>
          </a>
          <div class="play__item-size text-center w-100">
            Размер файла: 27MB
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Как начать играть"
  }
};
</script>

<style lang="scss" scoped>
$pfx: "play";

.#{$pfx} {
  &__container {
    margin: 80px auto 120px;
  }
  &__row {
    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
    }
    @media (max-width: 560px) {
      padding: 0;
    }
  }
  &__wrap {
    max-width: 325px;
    @media (max-width: 1200px) {
      max-width: initial;
      margin-bottom: 3.2rem;
    }
    &-title {
      margin-bottom: 2rem;
      color: var(--neutral-color);
      @media (max-width: 560px) {
        font-size: var(--font-size-lg);
        margin-bottom: 1.5rem;
      }
    }
    &-sub {
      margin-bottom: 2.6rem;
      color: var(--text-muted);
      @media (max-width: 560px) {
        font-size: var(--font-size-base);
        margin-bottom: 2rem;
      }
    }
    &-video {
      cursor: pointer;
      color: var(--tertiary-color);
      @media (max-width: 560px) {
        font-size: var(--font-size-base);
      }
      svg {
        transition: 0.3s;
        stroke: var(--tertiary-color);
        margin-right: 0.75rem;
        height: 2.25rem;
      }
      &:hover {
        svg {
          transform: scale(1.1);
        }
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 30px;
    max-width: 670px;
    @media (max-width: 1200px) {
      max-width: initial;
    }
    @media (max-width: 560px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  &__item {
    overflow: hidden;
    position: relative;
    padding: 30px 20px 20px;
    background-color: var(--plain-background-color);
    transition: 0.5s;
    @media (max-width: 560px) {
      padding: 2rem 1rem 1.125rem;
    }
    &:before {
      left: 0;
      right: 0;
      top: -14px;
      content: "";
      margin: auto;
      position: absolute;
      border-radius: 12px;
      background-color: var(--primary-color);
      height: 20px;
      width: 70%;
    }
    &:hover {
      transform: scale(1.1);
    }
    &-title {
      color: var(--neutral-color);
      margin-bottom: 0.875rem;
      @media (max-width: 560px) {
        font-size: var(--font-size-base);
      }
    }
    &-sub {
      color: var(--text-muted-40);
      margin-bottom: 1.5rem;
      min-height: 34px;
      @media (max-width: 560px) {
        font-size: var(--font-size-xs);
        margin-bottom: 1.125rem;
      }
    }
    &-list {
      margin-bottom: 2.6rem;
      @media (max-width: 560px) {
        margin-bottom: 2rem;
      }
      li {
        position: relative;
        color: var(--neutral-color);
        margin-bottom: 1rem;
        @media (max-width: 560px) {
          font-size: var(--font-size-xs);
        }
        svg {
          fill: var(--secondary-color);
          margin-right: 0.75rem;
          height: 1.125rem;
          @media (max-width: 560px) {
            height: 0.75rem;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-btn {
      font-weight: 600 !important;
      margin-bottom: 0.75rem;
      svg {
        margin-right: 0.75rem;
        height: 1.25rem;
      }
    }
    &-size {
      color: var(--text-muted-40);
      @media (max-width: 560px) {
        font-size: var(--font-size-xs);
      }
    }
  }
}
</style>
