<template>
  <div class="quiz__container container">
    <div class="quiz__wrap f-center dir-column w-100">
      <h2 class="quiz__title font-size-xl font-weight-bold text-center w-100">
        Ответьте на несколько вопросов, чтобы мы стали лучше
      </h2>
      <div class="quiz__items d-flex dir-column w-100">
        <div
          class="quiz__item w-100"
          v-for="(item, parent_index) in quiz"
          :key="`quiz${parent_index}`"
          :class="[{ visible: item.active }, { preactive: item.preactive }]"
        >
          <div class="quiz__item-check active" v-if="item.answered">
            <ui-icon icon="check" />
          </div>
          <div class="quiz__item-check font-size-sm font-weight-medium" v-else>
            Вопрос {{ item.index }} из {{ quiz.length }}
          </div>
          <h3 class="quiz__item-title font-size-lg font-weight-semibold w-100">
            {{ item.title }}
          </h3>
          <div class="quiz__answers">
            <div
              class="quiz__answers-item"
              v-for="(answer, i) in item.questions"
              :key="i"
            >
              <ui-checkbox
                v-model="answer.value"
                :checked="answer.label"
                @input="checked(parent_index)"
              >
                {{ answer.label }}
              </ui-checkbox>
            </div>
          </div>
        </div>
      </div>
      <transition name="fadeup">
        <div class="quiz__feedback f-center w-100" v-if="sendButton">
          <div class="quiz__feedback-wrap d-flex v-center">
            <ui-input label="Введите почту" type="email" />
            <ui-button variant="outline" @click="sendQuizQuestions">
              <span class="font-weight-semibold">Отправить</span>
            </ui-button>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sendButton: false,
      quiz: [
        {
          index: 1,
          active: true,
          preactive: false,
          answered: false,
          title: "Интересен ли вам наш игровой мод?",
          questions: [
            { value: "", label: "Да, крутой мод!" },
            { value: "", label: "Как и у всех..." },
            { value: "", label: "Так себе" },
            { value: "", label: "Очень плохой" }
          ]
        },
        {
          index: 2,
          active: false,
          preactive: true,
          answered: false,
          title: "Как вам атмосфера на сервере?",
          questions: [
            { value: "", label: "Великолепная" },
            { value: "", label: "Классная" },
            { value: "", label: "Нормальная" },
            { value: "", label: "Хотелось бы лучше" },
            { value: "", label: "Плохая" },
            { value: "", label: "Отвратительная" }
          ]
        },
        {
          index: 3,
          active: false,
          preactive: false,
          answered: false,
          title: "Вопрос 3 по счету",
          questions: [
            { value: "", label: "Ответ" },
            { value: "", label: "Ответ 2" },
            { value: "", label: "Ответтттт" }
          ]
        },
        {
          index: 4,
          active: false,
          preactive: false,
          answered: false,
          title: "Ну и на последок...",
          questions: [
            { value: "", label: "Тут" },
            { value: "", label: "Моя" },
            { value: "", label: "Фантазия" },
            { value: "", label: "Закончилась" },
            { value: "", label: "К сожалению" }
          ]
        }
      ]
    };
  },
  methods: {
    checked(i) {
      const items = this.quiz[i].questions;
      let find = items.filter(e => e.value != "");
      if (find.length > 0 && i + 1 < this.quiz.length) {
        this.quiz[i].answered = true;
        this.quiz[i + 1].preactive = false;
        this.quiz[i + 1].active = true;
        if (i + 2 < this.quiz.length && this.quiz[i + 2].preactive != true) {
          this.quiz[i + 2].preactive = true;
        }
      } else if (find.length < 1) {
        this.quiz[i].answered = false;
      } else if (this.quiz.length == i + 1) {
        this.sendButton = true;
      }
    },
    sendQuizQuestions() {
      const items = this.quiz;
      let findNotEmpty = items.filter(e =>
        e.questions.some(v => {
          return v.value != "";
        })
      );
      console.log(findNotEmpty);
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "quiz";

.#{$pfx} {
  &__container {
    margin: 80px auto 120px;
  }
  &__title {
    max-width: 655px;
    margin-bottom: 120px;
    color: var(--neutral-color);
  }
  &__items {
    margin-bottom: 1rem;
    max-width: 820px;
  }
  &__item {
    opacity: 0;
    z-index: -1;
    transform: translateX(-200%);
    position: absolute;
    visibility: hidden;
    margin-bottom: 80px;
    transition: opacity 0.3s, filter 0.3s;
    &.visible {
      z-index: 1;
      opacity: 1 !important;
      position: relative;
      visibility: visible;
      transform: translateX(0%);
      filter: blur(0) !important;
      &:before {
        z-index: -1 !important;
      }
    }
    &.preactive {
      z-index: 1;
      opacity: 0.6;
      position: relative;
      visibility: visible;
      transform: translateX(0%);
      filter: blur(3px);
      &:before {
        top: 0;
        left: 0;
        z-index: 2;
        content: "";
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    &-check {
      display: inline-flex;
      margin-bottom: 24px;
      background-color: var(--primary-color);
      border-radius: 35px;
      padding: 6px 20px;
      color: var(--neutral-color);
      text-transform: uppercase;
      &.active {
        padding: 7px 31px;
        background-color: var(--secondary-color);
      }
    }
    &-title {
      color: var(--neutral-color);
      margin-bottom: 45px;
    }
  }
  &__answers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 24px 60px;
    &-item {
      position: relative;
    }
  }
  &__feedback {
    padding: 1.5rem;
    border-radius: 60px;
    background-color: var(--primary-color);
    max-width: 820px;
    @media (max-width: 640px) {
      border-radius: 12px;
    }
    &-wrap {
      @media (max-width: 640px) {
        flex-direction: column;
        width: 100%;
      }
      .form-label-group {
        margin-right: 2rem;
        @media (max-width: 640px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
      .btn {
        @media (max-width: 640px) {
          width: 100%;
        }
      }
    }
  }
}
.fadeup-enter-active {
  animation: fadeUp 1s ease-in both;
}
.fadeup-leave-to {
  opacity: 0;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
</style>
