<template>
  <div class="monitoring__container container">
    <div class="monitoring__wrap f-center dir-column w-100">
      <div
        class="monitoring__title font-size-xl font-weight-bold text-center w-100"
      >
        Статистика сервера
      </div>
      <vue-funnel-graph
        :width="width"
        :height="height"
        :labels="labels"
        :values="values"
        :colors="colors"
        :animated="true"
        :sub-labels="subLabels"
        :display-percentage="true"
        :direction="direction"
        :gradient-direction="gradientDirection"
        ref="funnelGraph"
      ></vue-funnel-graph>
    </div>
  </div>
</template>

<script>
import { VueFunnelGraph } from "vue-funnel-graph-js";

export default {
  metaInfo: {
    title: "Мониторинг"
  },
  components: {
    VueFunnelGraph
  },
  data() {
    return {
      labels: ["Пик за неделю", "Пик сегодня", "Сейчас онлайн"],
      subLabels: [],
      values: [24912, 6343, 1000],
      colors: ["#0080FF", "#00B2FF"],
      direction: "horizontal",
      gradientDirection: "horizontal",
      height: 360,
      width: 1160
    };
  },
  methods: {
    handleResize() {
      this.width = window.innerWidth;
      if (window.innerWidth > 1199) {
        this.width = 1160;
      } else if (window.innerWidth > 767) {
        this.width = 768;
        this.direction = "horizontal";
        this.gradientDirection = "horizontal";
      } else if (window.innerWidth > 300) {
        this.direction = "vertical";
        this.gradientDirection = "vertical";
        this.width = window.innerWidth / 2;
      }
    }
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>

<style lang="scss" scoped>
$pfx: "monitoring";

.#{$pfx} {
  &__container {
    margin: 80px auto 120px;
  }
  &__title {
    color: var(--neutral-color);
    margin-bottom: 80px;
  }
}
</style>
