<template>
  <div class="inventory__container f-center w-100">
    <div class="inventory__items w-100">
      <div
        class="inventory__item f-center w-100"
        :class="{ 'not-empty': item.src !== null }"
        v-for="(item, i) in items"
        :key="`inv${i}`"
      >
        <img
          :src="require(`./assets/object/${item.src}.png`)"
          v-if="item.src != null"
        />
        <div
          class="inventory__item-info f-center w-100"
          v-if="item.src != null"
        >
          <p v-if="!item.amount">{{ item.count }} шт</p>
          <p v-else>{{ item.amount }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => {}
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "inventory";

.#{$pfx} {
  &__container {
    position: relative;
    min-height: 360px;
  }
  &__empty {
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    padding-bottom: 6rem;
    background-image: linear-gradient(
      180deg,
      rgba(5, 17, 36, 0.75) 0%,
      #0c1729 100%
    );
    color: var(--neutral-color);
    height: 100%;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(74px, 1fr));
    grid-gap: 24px;
  }
  &__item {
    overflow: hidden;
    position: relative;
    border: solid 2px rgba(255, 255, 255, 0.14);
    height: 74px;
    &.not-empty {
      border: solid 2px rgba(0, 128, 255, 0.45);
      &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        margin: auto;
        content: "";
        position: absolute;
        background-color: var(--primary-color);
        filter: blur(18px);
        height: 20px;
        width: 20px;
      }
    }
    img {
      z-index: 1;
      margin-bottom: 12px;
      max-height: 36px;
    }
    &-info {
      z-index: 1;
      bottom: 4px;
      position: absolute;
      p {
        font-size: 10px;
        font-weight: 400;
        color: var(--text-muted);
      }
    }
  }
}
</style>
