<template>
  <div class="skills__container">
    <div class="skills__wrap d-flex v-start h-between w-100">
      <div class="col d-flex v-start dir-column w-100">
        <h2 class="skills__title font-size-md font-weight-semibold">
          Навык оружия
        </h2>
        <div class="skills__items d-flex dir-column w-100">
          <div
            class="skills__item rounded w-100"
            v-for="(gun, i) in guns"
            :key="`gun${i}`"
          >
            <div class="skills__item-head d-flex v-center h-between w-100">
              <h4 class="skills__item-title font-size-sm font-weight-medium">
                {{ gun.label }}
              </h4>
              <span class="skills__item-count font-size-sm font-weight-medium">
                {{ gun.value }}%
              </span>
            </div>
            <div class="skills__item-progress rounded f-center w-100">
              <div
                class="skills__item-bar rounded"
                :style="{ width: gun.value + '%' }"
              ></div>
              <span>0</span>
              <span>100</span>
            </div>
            <div class="skills__item-footer d-flex v-center h-between w-100">
              <h4 class="skills__item-title font-size-sm font-weight-medium">
                Лицензия
              </h4>
              <h4
                class="skills__item-title font-size-sm font-weight-medium empty"
                v-if="gun.lic"
              >
                Имеется
              </h4>
              <h4
                class="skills__item-title font-size-sm font-weight-medium no-empty"
                v-else
              >
                Отсутствует
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex v-start dir-column w-100">
        <h2 class="skills__title font-size-md font-weight-semibold">
          Опыт работы
        </h2>
        <div class="skills__items d-flex dir-column w-100">
          <div
            class="skills__item rounded w-100"
            v-for="(job, i) in jobs"
            :key="`job${i}`"
          >
            <div class="skills__item-head d-flex v-center h-between w-100">
              <h4 class="skills__item-title font-size-base font-weight-medium">
                {{ job.label }}
              </h4>
              <span
                class="skills__item-count text-primary font-size-sm font-weight-medium"
              >
                {{ job.level }} LVL
              </span>
            </div>
            <div class="skills__item-footer d-flex v-center h-between w-100">
              <h4
                class="skills__item-title font-size-xs text-muted font-weight-medium"
              >
                До следующего уровня
              </h4>
              <h4
                class="skills__item-title font-size-xs text-muted font-weight-medium"
              >
                {{ job.min }} / {{ job.max }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    jobs: {
      type: Array,
      default: () => {}
    },
    guns: {
      type: Array,
      default: () => {}
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "skills";

.#{$pfx} {
  &__wrap {
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .col {
      position: relative;
      &:after {
        left: 0;
        right: 0;
        bottom: -30px;
        margin: auto;
        position: absolute;
        background-image: linear-gradient(
          180deg,
          rgba(12, 23, 41, 0) 0%,
          #0c1729 62.5%
        );
        content: "";
        width: 100%;
        height: 100px;
      }
      @media (max-width: 991px) {
        &:first-child {
          margin-bottom: 30px;
        }
        &:after {
          bottom: 0;
          background-image: linear-gradient(
            180deg,
            rgba(12, 23, 41, 0) 0%,
            #0c1729 80%
          );
        }
      }
    }
  }
  &__title {
    margin-bottom: 2rem;
    color: var(--neutral-color);
  }
  &__items {
    max-width: 300px;
    max-height: 360px;
    overflow-y: scroll;
    padding-right: 15px;
    &::-webkit-scrollbar-track {
      background-color: var(--plain-background-color);
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: var(--plain-background-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
    }
    @media (max-width: 991px) {
      max-width: initial;
      width: 100%;
    }
  }
  &__item {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--plain-background-color);
    &-head {
      margin-bottom: 1rem;
    }
    &-progress {
      position: relative;
      margin-bottom: 2.4rem;
      background-color: var(--background-color);
      height: 3px;
      span {
        top: 8px;
        position: absolute;
        font-weight: 500;
        font-size: var(--font-size-xs);
        color: var(--text-muted-40);
        &:nth-child(2) {
          left: 0;
        }
        &:last-child {
          right: 0;
        }
      }
    }
    &-bar {
      top: 0;
      left: 0;
      position: absolute;
      background-color: var(--primary-color);
      transition: width 0.3s;
      height: 3px;
    }
    &-count,
    &-title {
      color: var(--neutral-color);
    }
    &-title {
      &.no-empty {
        color: #e26352;
      }
      &.empty {
        color: #00dd80;
      }
    }
  }
}
</style>
