<template>
  <div class="characteristics__container d-flex dir-column w-100">
    <h3 class="characteristics__title font-size-md font-weight-semibold">
      Общая информация
    </h3>
    <div class="characteristics__items">
      <div
        class="characteristics__item d-flex dir-column rounded w-100"
        v-for="(item, i) in items"
        :key="`general${i}`"
      >
        <span class="characteristics__item-title font-size-sm">
          {{ item.label }}
        </span>
        <div
          class="characteristics__item-value font-size-md font-weight-semibold"
          v-if="item.label == 'Сбережения' || item.label == 'Наличные'"
        >
          {{ item.value | moneyFormat }}
        </div>
        <div
          class="characteristics__item-value font-size-md font-weight-semibold"
          v-else
        >
          {{ item.value }}
        </div>
      </div>
    </div>
    <h3 class="characteristics__title font-size-md font-weight-semibold">
      Личный транспорт
    </h3>
    <div class="characteristics__items">
      <div
        class="characteristics__card d-flex dir-column rounded w-100"
        v-for="(item, i) in cars"
        :key="`cars${i}`"
      >
        <div class="characteristics__card-header f-center w-100">
          <img
            :src="require('../assets/cars/' + item.picture + '.png')"
            alt=""
          />
        </div>
        <div class="characteristics__card-body">
          <h4
            class="characteristics__card-title font-size-md font-weight-semibold"
          >
            {{ item.name }}
          </h4>
          <ul class="characteristics__card-list w-100">
            <li class="d-flex v-center">
              <ui-icon icon="fuel" />
              <span>{{ item.type0.value }} / {{ item.type0.max }}</span>
            </li>
            <li class="d-flex v-center">
              <ui-icon icon="steering-wheel" />
              <span>{{ item.type1.value }}</span>
            </li>
            <li class="d-flex v-center">
              <ui-icon icon="speedometer" />
              <span>{{ item.type2.value }} км</span>
            </li>
            <li class="d-flex v-center">
              <ui-icon icon="car-key" />
              <span>{{ item.type3.value }} / {{ item.type3.max }}</span>
            </li>
          </ul>
        </div>
        <div class="characteristics__card-footer">
          <div
            class="characteristics__card-price font-size-base font-weight-semibold"
          >
            {{ item.price | moneyFormat }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => {}
    },
    cars: {
      type: Array,
      default: () => {}
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "characteristics";

.#{$pfx} {
  &__title {
    color: var(--neutral-color);
    margin-bottom: 2rem;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-bottom: 4rem;
    grid-gap: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    padding: 20px;
    background-color: var(--background-color);
    &-title {
      color: var(--text-muted);
      margin-bottom: 8px;
    }
    &-value {
      color: var(--neutral-color);
    }
  }
  &__card {
    background-color: var(--plain-background-color);
    padding-bottom: 20px;
    &-header {
      height: 150px;
      overflow: hidden;
    }
    &-body {
      margin-bottom: 2rem;
      padding: 0 20px;
    }
    &-title {
      margin-bottom: 12px;
      color: var(--neutral-color);
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
      grid-gap: 15px;
      li {
        font-size: var(--font-size-sm);
        color: var(--text-muted);
        svg {
          margin-right: 6px;
        }
      }
    }
    &-footer {
      padding: 0 20px;
      color: var(--primary-color);
    }
  }
}
</style>
