<template>
  <div class="profile__container container">
    <div class="profile__wrap d-flex dir-column w-100">
      <div class="profile__body d-flex v-center h-between rounded w-100">
        <div class="col d-flex v-center">
          <div class="profile__body-picture">
            <img :src="profile.image" :alt="profile.name" />
          </div>
          <div class="col">
            <div class="profile__body-main d-flex v-center">
              <h2 class="profile__body-title font-size-md font-weight-semibold">
                {{ profile.name }}
              </h2>
              <div
                class="profile__body-rights f-center rounded font-size-xs"
                :class="`rights-${profile.rights.id}`"
              >
                {{ profile.rights.value }}
              </div>
              <div
                class="profile__body-status d-flex v-center font-size-xs"
                :class="{ active: profile.status }"
              >
                <span v-if="profile.status">Online</span>
                <span v-else>Offline</span>
              </div>
            </div>
            <div class="profile__body-register font-size-xs">
              Дата регистрации: {{ profile.register.date }} в
              {{ profile.register.time }}
            </div>
          </div>
        </div>
        <div class="profile__body-buttons d-flex">
          <ui-button
            hover
            size="sm"
            variant="tertiary"
            @click="$router.push('/donate')"
          >
            <ui-icon icon="coins" />
            <span>Пополнить баланс</span>
          </ui-button>
          <ui-button hover size="sm" variant="dark" @click="$router.push('/')">
            <ui-icon icon="logout" />
            <span>Завершить сеанс</span>
          </ui-button>
        </div>
      </div>
      <div class="profile__items w-100">
        <div
          class="profile__item d-flex dir-column rounded w-100"
          v-for="(item, i) in users"
          :key="`user${i}`"
        >
          <div class="profile__item-header d-flex v-center h-between">
            <h3 class="profile__item-title font-size-md font-weight-semibold">
              {{ item.name }}
            </h3>
            <div class="profile__item-count font-size-sm font-weight-medium">
              {{ item.level }} LVL
            </div>
          </div>
          <ui-button
            hover
            @click="
              $router.push({
                name: 'stats',
                params: { user: item.id, items: users[i] }
              })
            "
          >
            <span>Перейти к статистике</span>
          </ui-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Личный кабинет"
  },
  computed: {
    users() {
      return this.$store.getters.users;
    },
    profile() {
      return this.$store.getters.profile;
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "profile";

.#{$pfx} {
  &__wrap {
    margin: 80px auto 120px;
  }
  &__body {
    padding: 20px;
    background-color: var(--plain-background-color);
    margin-bottom: 30px;
    @media (max-width: 991px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .col {
        margin-bottom: 1.125rem;
        .col {
          margin-bottom: 0;
        }
      }
    }
    &-picture {
      overflow: hidden;
      border-radius: 50%;
      margin-right: 20px;
      width: 80px;
      height: 80px;
      @media (max-width: 560px) {
        display: none;
      }
    }
    &-main {
      margin-bottom: 8px;
      @media (max-width: 560px) {
        flex-wrap: wrap;
      }
    }
    &-title {
      margin-right: 1rem;
      color: var(--neutral-color);
      @media (max-width: 560px) {
        margin-bottom: 0.4rem;
      }
    }
    &-rights {
      padding: 5px 16px;
      margin-right: 1rem;
      background-color: var(--background-color);
      @media (max-width: 560px) {
        margin-bottom: 0.4rem;
      }
      &.rights-1 {
        color: #a8a8a8;
      }
      &.rights-2 {
        color: #c7771a;
      }
      &.rights-3 {
        color: #ffd43e;
      }
      &.rights-4 {
        color: #ff5656;
      }
    }
    &-status {
      position: relative;
      color: var(--text-muted-40);
      &:before {
        content: "";
        display: flex;
        border-radius: 50%;
        background-color: var(--text-muted-40);
        margin-right: 8px;
        height: 6px;
        width: 6px;
      }
      &.active {
        color: var(--secondary-color);
        &:before {
          background-color: var(--secondary-color);
          box-shadow: 0px 0px 6px rgba(35, 235, 151, 0.55);
        }
      }
    }
    &-register {
      color: var(--text-muted-40);
    }
    &-buttons {
      @media (max-width: 560px) {
        flex-direction: column;
        width: 100%;
      }
      .btn {
        margin-right: 20px;
        svg {
          margin-right: 10px;
        }
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: 560px) {
          margin-right: 0;
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-gap: 25px;
    @media (max-width: 560px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  &__item {
    padding: 20px;
    background-color: var(--plain-background-color);
    &-header {
      margin-bottom: 1.125rem;
      @media (max-width: 560px) {
        flex-wrap: wrap;
      }
    }
    &-title {
      color: var(--neutral-color);
      @media (max-width: 560px) {
        margin-right: 1rem;
      }
    }
    &-count {
      border-radius: 3px;
      background-color: var(--background-color);
      color: var(--neutral-color);
      padding: 5px 16px;
    }
  }
}
</style>
