<template>
  <div class="stats__container container">
    <div
      class="stats__wrap d-flex v-start h-between w-100"
      v-if="this.items != undefined"
    >
      <div class="stats__sidebar d-flex dir-column v-center">
        <div class="stats__sidebar-picture f-center w-100">
          <ui-radial
            width="212px"
            height="186px"
            :start="-140"
            :end="140"
            :strokeWidth="5"
            :activeWidth="5"
            stroke="#203649"
            activeStroke="#0080FF"
            :dashCount="items.exp.max"
            :activeCount="items.exp.value"
            content-x="left"
            content-y="bottom"
          />
          <div class="stats__sidebar-skin">
            <img
              :src="require(`./assets/skins/${items.skin}.png`)"
              :alt="items.name"
            />
            <img :src="require('./assets/images/ava-bg.jpg')" />
          </div>
        </div>
        <div class="stats__sidebar-level font-size-sm font-weight-medium">
          {{ items.level }} уровень
        </div>
        <div
          class="stats__sidebar-name text-center font-size-lg font-weight-bold"
        >
          {{ items.name }}
        </div>
        <div class="stats__sidebar-balance font-size-sm font-weight-medium">
          Баланс: <span>{{ items.donate | priceFormat }}</span>
        </div>
        <ui-button
          size="sm"
          variant="tertiary"
          @click="$router.push('/donate')"
          class="w-100"
        >
          <ui-icon icon="coins" />
          <span>Пополнить баланс</span>
        </ui-button>
        <ui-button
          size="sm"
          variant="dark"
          @click="$router.push('/')"
          class="w-100"
        >
          <ui-icon icon="logout" />
          <span>Завершить сеанс</span>
        </ui-button>
      </div>
      <div class="stats__content d-flex dir-column w-100">
        <ul class="stats__content-nav d-flex v-center w-100">
          <li
            class="font-size-base font-weight-medium"
            @click="routeToStats"
            :class="{ active: statsStep == 'stats' }"
          >
            Статистика персонажа
          </li>
          <li
            class="font-size-base font-weight-medium"
            @click="routeToInventory"
            :class="{ active: statsStep == 'inventory' }"
          >
            Инвентарь
          </li>
          <li
            class="font-size-base font-weight-medium"
            @click="routeToSkills"
            :class="{ active: statsStep == 'skills' }"
          >
            Навыки
          </li>
        </ul>
        <div class="stats__body rounded w-100">
          <stats
            v-if="statsStep == 'stats'"
            :items="items.general"
            :cars="items.cars"
          />
          <inventory v-if="statsStep == 'inventory'" :items="items.inventory" />
          <skills
            v-if="statsStep == 'skills'"
            :jobs="items.skillsJobs"
            :guns="items.skillsGuns"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import stats from "./blocks/StatsComp";
import inventory from "./blocks/InventoryComp";
import skills from "./blocks/SkillsComp";

export default {
  props: {
    items: {
      type: [Array, Object],
      default: () => {}
    }
  },
  metaInfo: {
    title: "Статистика персонажа"
  },
  components: {
    stats,
    inventory,
    skills
  },
  data() {
    return {
      statsStep: "stats"
    };
  },
  methods: {
    routeToStats() {
      this.statsStep = "stats";
    },
    routeToInventory() {
      this.statsStep = "inventory";
    },
    routeToSkills() {
      this.statsStep = "skills";
    }
  },
  mounted() {
    if (this.items == undefined) {
      this.$router.push("/profile");
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "stats";

.#{$pfx} {
  &__container {
    margin: 80px auto 120px;
  }
  &__wrap {
    @media (max-width: 760px) {
      flex-direction: column;
    }
  }
  &__sidebar {
    max-width: 240px;
    @media (max-width: 1200px) {
      margin-right: 2rem;
    }
    @media (max-width: 760px) {
      flex-wrap: wrap;
      max-width: initial;
      margin: 0 auto 3rem;
    }
    &-picture {
      margin-bottom: 24px;
      position: relative;
    }
    &-skin {
      top: 5px;
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
      height: 178px;
      width: 178px;
      img {
        &:last-child {
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0.12;
        }
      }
    }
    &-level {
      color: var(--primary-color);
      margin-bottom: 8px;
    }
    &-name {
      color: var(--neutral-color);
      margin-bottom: 8px;
    }
    &-balance {
      color: var(--text-muted);
      margin-bottom: 35px;
      span {
        color: var(--secondary-color);
      }
    }
    .btn {
      margin-bottom: 1rem;
      transition: transform 0.3s;
      svg {
        margin-right: 10px;
      }
      &-dark {
        background-color: var(--plain-background-color);
      }
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  &__content {
    max-width: 860px;
    &-nav {
      margin-bottom: 2rem;
      border-bottom: solid 1px var(--text-muted-40);
      @media (max-width: 560px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      li {
        cursor: pointer;
        padding-bottom: 1rem;
        color: var(--text-muted);
        border-bottom: solid 3px transparent;
        transition: color 0.3s;
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: var(--neutral-color);
        }
        &.active {
          color: var(--primary-color);
          border-bottom: solid 3px var(--primary-color);
        }
        @media (max-width: 560px) {
          margin-right: 0rem;
          font-size: var(--font-size-xs);
          border-bottom: solid 2px transparent;
          &.active {
            color: var(--primary-color);
            border-bottom: solid 2px var(--primary-color);
          }
        }
      }
    }
  }
  &__body {
    padding: 30px 30px 60px 30px;
    background: linear-gradient(180deg, #051124 0%, #0c1729 78.65%);
    @media (max-width: 560px) {
      padding: 20px 15px 40px 15px;
    }
  }
}
</style>
