<template>
  <div class="ui-checkbox d-flex v-center">
    <input
      type="checkbox"
      class="custom-control-input"
      :id="safeId()"
      :checked="!!value"
      :value="value"
      @change="onInput"
    />
    <label class="custom-control-label font-size-base" :for="safeId()">
      <ui-icon icon="check" class="custom-control-icon" />
      <slot />
    </label>
  </div>
</template>

<script>
import idMixin from "../../mixins/id";

export default {
  mixins: [idMixin],
  props: {
    value: {
      // type: [Object, Boolean],
      default: true
    },
    checked: {
      // v-model
      type: [String, Number, Object, Array, Boolean],
      default: null
    }
  },
  methods: {
    onInput($event) {
      let value = $event.target.checked ? this.checked : false;
      this.$emit("input", value);
    }
  }
};
</script>

<style lang="scss">
.ui-checkbox {
  cursor: pointer;
  position: relative;
  .custom-control-label {
    cursor: pointer;
    color: var(--neutral-color);
    padding-left: 1.75rem;
    transition: color 0.3s;

    &:after {
      background: transparent !important;
    }
    &:before {
      border: var(--border-width) solid var(--text-muted) !important;
      background-color: transparent !important;
    }
    &:before,
    &:after {
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;
      border-radius: 50%;
      transition: border-color 0.3s;
      content: "";
    }
    &:hover {
      color: var(--primary-color);
      &:before,
      &:after {
        border-color: var(--primary-color) !important;
      }
    }
  }

  .custom-control-icon {
    display: none;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    margin: auto;
    color: var(--primary-color);
    font-size: 0.6rem;
    pointer-events: none;
  }

  .custom-control-input {
    opacity: 0;
    &:checked {
      ~ .custom-control-label {
        color: var(--primary-color);
        &:before {
          color: var(--primary-color);
          border-color: var(--primary-color) !important;
        }
        .custom-control-icon {
          display: block;
        }
      }
    }
  }
}
</style>
