<template>
  <div class="home__container">
    <home-header />
    <accent-monitoring />
    <accent-news />
    <accent-quiz />
    <accent-stock :expires="stock.active_to" v-bind="commonProps" />
  </div>
</template>

<script>
import homeHeader from "./blocks/Header";
import accentMonitoring from "./blocks/Monitoring";
import accentNews from "./blocks/News";
import accentQuiz from "./blocks/Quiz";
import accentStock from "./blocks/Stock";

export default {
  metaInfo: {
    title: "Главная страница"
  },
  components: {
    homeHeader,
    accentMonitoring,
    accentNews,
    accentQuiz,
    accentStock
  },
  data() {
    return {
      stock: {
        id: 1,
        name: "Гарантированные подарки в честь открытия нашего проекта",
        active_to: "2019-12-31"
      }
    };
  },
  computed: {
    commonProps() {
      let { stock } = this;
      return { stock };
    }
  }
};
</script>

<style lang="scss" scoped></style>
