@mixin transition ($property: all, $duration: 0.1s, $timing: ease-in-out, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}


.link-hover {
  cursor: pointer;
  @include transition;
  &:hover {
    color: var(--primary-color) !important;
    opacity: 1 !important;
    letter-spacing: 0.05em;
  }
  &-color-only {
    cursor: pointer;
    @include transition;
    &:hover {
      color: var(--primary-color) !important;
    }
  }
  &-border {
    cursor: pointer;
    @include transition;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    &:hover {
      color: var(--primary-color) !important;
      border-bottom-color: var(--primary-color);
    }
  }
}
.ghost-hover {
  cursor: pointer;
  @include transition;
  &:hover {
    background-color: var(--primary-color);
    color: var(--body-color-invers) !important;
    border-color: var(--primary-color) !important;
  }
}
.btn-hover {
  cursor: pointer;
  @include transition;
  &:hover {
    transform: scale(1.01);
    filter: brightness(0.8) contrast(1.3);
  }
}