.mask {
  &-primary {
    filter: invert(31%) sepia(44%) saturate(4043%) hue-rotate(198deg) brightness(105%) contrast(105%);
  }
  &-secondary {
    filter: invert(68%) sepia(10%) saturate(6909%) hue-rotate(105deg) brightness(96%) contrast(101%);
  }
  &-teriary {
    filter: invert(96%) sepia(44%) saturate(7498%) hue-rotate(326deg) brightness(99%) contrast(101%);
  }
}