.font-size-xs { @include font-size(var(--font-size-xs)); }
.font-size-sm { @include font-size(var(--font-size-sm)); }
.font-size-base { @include font-size(var(--font-size-base)); }
.font-size-md { @include font-size(var(--font-size-md)); }
.font-size-lg { @include font-size(var(--font-size-lg)); }
.font-size-xl { @include font-size(var(--font-size-xl)); }

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}