.no-underline {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-body {
  // color: var(--body-color);
}

.text-inverse {
  // color: var(--body-color-inverse);
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-left {
  text-align: left!important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-nowrap {
  white-space: nowrap;
}

.line-height-normal {
  line-height: 1.5;
}

.text-spacing {
  letter-spacing: 0.1em;
}
