* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

html {
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

ul {
  li {
    list-style: none;
  }
}

#app {
  position: relative;
  z-index: 1;
  max-width: 1920px;
  margin: 0 auto;
  transition: left .3s ease-in-out, right .3s ease-in-out;
  will-change: left right;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app>main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  width: 100%;

  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}