<template>
  <div class="news__container container">
    <div class="news__wrap f-center dir-column w-100">
      <div class="news__sup font-size-base font-weight-semibold text-uppercase">
        Новости
      </div>
      <div class="news__title font-size-xl font-weight-bold text-center">
        Самое свежее и интересное тут
      </div>
      <div class="news__items w-100">
        <div
          class="news__item d-flex dir-column rounded w-100"
          v-for="(item, i) in news"
          :key="`news${i}`"
        >
          <div class="news__item-picture">
            <img :src="item.picture" />
          </div>
          <div class="news__item-desc" v-html="item.desc"></div>
          <div class="news__item-date">
            {{ item.publish.date }} в {{ item.publish.time }}
          </div>
        </div>
      </div>
      <ul class="news__pagination f-center w-100">
        <li
          class="f-center font-size-sm font-weight-semibold"
          :class="{ active: pagination.currentPage === page }"
          v-for="(page, i) in pagination.pages"
          :key="`page${i}`"
          @click="setPage(page)"
        >
          {{ page }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  metaInfo: {
    title: "Новости"
  },
  data() {
    return {
      perPage: 6,
      pagination: {}
    };
  },
  methods: {
    setPage(p) {
      this.pagination = this.paginator(this.$store.getters.news.length, p);
    },
    paginate(value) {
      return _.slice(
        value,
        this.pagination.startIndex,
        this.pagination.endIndex + 1
      );
    },
    paginator(totalItems, currentPage) {
      var startIndex = (currentPage - 1) * this.perPage,
        endIndex = Math.min(startIndex + this.perPage - 1, totalItems - 1);

      return {
        currentPage: currentPage,
        startIndex: startIndex,
        endIndex: endIndex,
        pages: _.range(1, Math.ceil(totalItems / this.perPage) + 1)
      };
    }
  },
  computed: {
    news() {
      return this.paginate(this.$store.getters.news);
    }
  },
  created() {
    this.setPage(1);
  }
};
</script>

<style lang="scss" scoped>
$pfx: "news";

.#{$pfx} {
  &__container {
    margin: 80px auto 120px;
  }
  &__sup {
    color: var(--primary-color);
    @media (max-width: 680px) {
      font-size: var(--font-size-sm);
    }
  }
  &__title {
    color: var(--neutral-color);
    margin-bottom: 40px;
    @media (max-width: 680px) {
      font-size: var(--font-size-lg);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-bottom: 60px;
    grid-gap: 30px;
    @media (max-width: 560px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  &__item {
    overflow: hidden;
    background-color: var(--plain-background-color);
    padding-bottom: 20px;
    &-picture {
      overflow: hidden;
      margin-bottom: 20px;
      height: 195px;
      @media (max-width: 768px) {
        display: none;
        margin-bottom: 0;
      }
    }
    &-desc {
      padding: 20px;
      color: var(--neutral-color);
      margin-bottom: 10px;
      min-height: 175px;
    }
    &-date {
      padding-top: 20px;
      padding-left: 20px;
      border-top: solid 1px var(--text-muted-40);
      color: var(--text-muted);
    }
  }
  &__pagination {
    li {
      cursor: pointer;
      border-radius: 50%;
      margin-right: 14px;
      transition: background-color 0.3s;
      background-color: var(--primary-color);
      color: var(--neutral-color);
      height: 28px;
      width: 28px;
      &.active {
        background-color: var(--plain-background-color);
        color: var(--text-muted);
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
</style>
