.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: 50;
  }
}

.absolute-0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}