<template>
  <div
    class="popup__container f-center w-100"
    :class="{
      [`active`]: value,
      [`popup__container-${variant}`]: true
    }"
  >
    <div class="popup__body d-flex dir-column w-100">
      <div class="popup__body-close" @click="closeModal">
        <ui-icon icon="close" />
      </div>
      <div class="popup__header f-center">
        <div class="popup__body-title text-center">
          {{ title }}
        </div>
      </div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    variant: {
      type: String,
      default: "primary"
    },
    title: {
      type: String,
      default: "",
      required: true
    }
  },
  data() {
    return {};
  },
  methods: {
    closeModal() {
      this.$emit("input", false);
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "popup";

.#{$pfx} {
  &__container {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
    position: fixed;
    height: 100vh;
    &:after {
      top: 0;
      left: 0;
      opacity: 0;
      content: "";
      display: flex;
      visibility: hidden;
      position: absolute;
      background-color: var(--background-color);
      transition: 0.5s ease-in-out;
      height: 100%;
      width: 100%;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      &:after {
        opacity: 0.85;
        visibility: visible;
      }
      .#{$pfx}__body {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__body {
    z-index: 2;
    opacity: 0;
    padding: 35px;
    position: relative;
    border-radius: 4px;
    visibility: hidden;
    background-color: var(--body-color);
    transition: 0.5s ease-in-out 0.5s;
    max-width: 385px;
    &-title {
      font-weight: bold;
      font-size: var(--font-size-md);
      letter-spacing: 0.05em;
      color: var(--body-color-inverse);
    }
    &-close {
      top: 12px;
      right: 12px;
      cursor: pointer;
      position: absolute;
      transition-delay: 0.3s ease-in-out;
      stroke: #979797;
      &:hover {
        stroke: #717171;
      }
    }
    .form-label-group {
      margin-bottom: 1rem;
    }
  }
  &__header {
    margin-bottom: 2rem;
  }
}
</style>
