<template>
  <button
    class="btn f-center font-size-base"
    :class="{
      [`btn-circle`]: circle,
      [`btn-${variant}`]: true,
      [`btn-${size}`]: true,
      [`btn-animate`]: hover,
      [`btn-scale`]: hoverSize
    }"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    variant: {
      type: String,
      default: "primary"
    },
    size: {
      type: String,
      default: "normal"
    },
    circle: {
      type: Boolean,
      default: false
    },
    hover: {
      type: Boolean,
      default: false
    },
    hoverSize: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.btn {
  cursor: pointer;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  color: var(--body-color);
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--btn-border-radius);
  font-weight: 400;
  line-height: var(--line-height);
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // варианты
  &-primary {
    color: var(--btn-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  &-outline {
    color: var(--neutral-color);
    border-width: 2px;
    border-color: var(--neutral-color);
    &:hover {
      background-color: var(--neutral-color);
      color: var(--primary-color);
    }
  }
  &-secondary {
    color: var(--btn-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  &-tertiary {
    color: var(--body-color-inverse);
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
  }
  &-dark {
    color: var(--btn-color);
    background-color: var(--background-color);
    border-color: var(--background-color);
  }

  // размеры
  &-sm {
    padding: 0.4em 1.45em;
  }
  &-normal {
    padding: 0.875rem 2.4rem;
    @media (max-width: 680px) {
      padding: 0.75rem 2rem;
      font-size: var(--font-size-sm);
    }
  }
  &-lg {
    padding: 1rem 4rem;
    @media (max-width: 680px) {
      padding: 0.75rem 3rem;
      font-size: var(--font-size-sm) !important;
    }
  }
  // анимация
  &-animate {
    &.btn-primary {
      &.btn-sm {
        box-shadow: 0px 15px 40px rgba(0, 128, 255, 0.16);
        &:hover {
          box-shadow: 0px 6px 20px rgba(0, 128, 255, 0.24);
        }
      }
      &.btn-lg,
      &.btn-normal {
        box-shadow: 0px 30px 60px rgba(0, 128, 255, 0.12);
        &:hover {
          box-shadow: 0px 16px 36px rgba(0, 128, 255, 0.28);
        }
      }
    }
    &.btn-secondary {
      &.btn-sm {
        box-shadow: 0px 15px 40px rgba(0, 221, 128, 0.16);
        &:hover {
          box-shadow: 0px 6px 20px rgba(0, 221, 128, 0.24);
        }
      }
      &.btn-lg,
      &.btn-normal {
        box-shadow: 0px 30px 60px rgba(0, 221, 128, 0.12);
        &:hover {
          box-shadow: 0px 16px 36px rgba(0, 221, 128, 0.28);
        }
      }
    }
    &.btn-tertiary {
      &.btn-sm {
        box-shadow: 0px 15px 40px rgba(254, 209, 48, 0.16);
        &:hover {
          box-shadow: 0px 6px 20px rgba(254, 209, 48, 0.24);
        }
      }
      &.btn-lg,
      &.btn-normal {
        box-shadow: 0px 30px 60px rgba(254, 209, 48, 0.12);
        &:hover {
          box-shadow: 0px 16px 36px rgba(254, 209, 48, 0.28);
        }
      }
    }
    &.btn-dark {
      &.btn-sm {
        box-shadow: 0px 15px 60px rgba(255, 255, 255, 0.06);
        &:hover {
          box-shadow: 0px 6px 30px rgba(255, 255, 255, 0.1);
        }
      }
      &.btn-lg,
      &.btn-normal {
        box-shadow: 0px 30px 60px rgba(255, 255, 255, 0.06);
        &:hover {
          box-shadow: 0px 16px 36px rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
  &-scale {
    transition: 0.3s;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
    }
  }
  // circle
  &-circle {
    border-radius: 2em;
    letter-spacing: 0.05em;
    font-size: 1rem;
    font-weight: 600;
  }
}
</style>
