<template>
  <header>
    <div class="header__top">
      <div class="header__container container d-flex v-center h-between">
        <div class="header__stats d-flex v-center">
          <div class="header__stats-item d-flex v-center">
            <ui-icon icon="hosted" />
            <span class="font-size-sm">{{ siteConfig.app.site.address }}</span>
          </div>
          <div class="header__stats-item d-flex v-center">
            <ui-icon icon="peoplegroup" />
            <span class="font-size-sm">500 из 1000</span>
          </div>
        </div>
        <div class="header__navigation d-flex v-center">
          <ui-button size="sm" @click="isShowGift">
            <ui-icon icon="gift" />
            <span>Получить подарок</span>
          </ui-button>
          <router-link
            class="header__link d-flex v-center link-hover-color-only"
            :to="link.route.name"
            v-for="(link, i) in siteConfig.navigation.topMenu"
            :key="`htl${i}`"
          >
            <span>{{ link.name }}</span>
          </router-link>
          <a
            href="http://fotpix.net/"
            class="header__link d-flex v-center link-hover-color-only"
          >
            <span>Форум</span>
          </a>
        </div>
      </div>
    </div>
    <div class="header__main sticky-top">
      <div class="header__container container d-flex v-center h-between">
        <div
          @click="$refs.sidedrawer.toggle(true)"
          class="header__sidedrawer-toggle header__mobile-control f-center"
        >
          <ui-icon
            :icon="sidedrawerIsOpen ? 'cross' : 'bars'"
            class="bars-icon"
          />
        </div>
        <router-link to="/" class="header__logo">
          <img
            :src="require('./assets/images/logo.png')"
            alt="Fotpix Roleplay"
          />
        </router-link>
        <div
          class="header__navigation"
          ref="isHomeRoute"
          v-if="$store.getters.profile != null"
        >
          <template v-for="link in siteConfig.navigation.mainMenu">
            <router-link
              class="header__link link-hover-color-only font-weight-semibold"
              :to="link.route.name"
              v-if="homeRoute && link.route.name !== '/'"
              :key="link.index"
            >
              <span>{{ link.name }}</span>
            </router-link>
            <router-link
              class="header__link link-hover-color-only font-weight-semibold"
              :to="link.route.name"
              v-else-if="!homeRoute"
              :key="link.index"
            >
              <span>{{ link.name }}</span>
            </router-link>
          </template>
        </div>
        <div class="header__navigation" ref="isHomeRoute" v-else>
          <a
            class="header__link link-hover-color-only font-weight-semibold"
            @click="isShowAuth"
          >
            <span>Авторизация</span>
          </a>
          <template v-for="link in siteConfig.navigation.mainMenu">
            <router-link
              class="header__link link-hover-color-only font-weight-semibold"
              :to="link.route.name"
              v-if="
                homeRoute &&
                  link.route.name !== '/' &&
                  link.route.name !== '/profile'
              "
              :key="link.index"
            >
              <span>{{ link.name }}</span>
            </router-link>
            <router-link
              class="header__link link-hover-color-only font-weight-semibold"
              :to="link.route.name"
              v-else-if="!homeRoute"
              :key="link.index"
            >
              <span>{{ link.name }}</span>
            </router-link>
          </template>
        </div>
      </div>
    </div>
    <!-- Меню (мобильная версия) -->
    <sidedrawer-menu
      ref="sidedrawer"
      @toggle="flag => (sidedrawerIsOpen = flag)"
    />
  </header>
</template>

<script>
import { mapState } from "vuex";
import siteConfig from "@/config/index";
import SidedrawerMenu from "./SidedrawerMenu";

export default {
  components: {
    SidedrawerMenu
  },
  data() {
    return {
      siteConfig,
      homeRoute: true,
      sidedrawerIsOpen: false
    };
  },
  methods: {
    isShowGift() {
      global.uncodes.app.isGift = true;
    },
    isShowAuth() {
      global.uncodes.app.isAuth = true;
    }
  },
  watch: {
    $router(/*to, from*/) {
      if (this.$refs.isHomeRoute) {
        this.$refs.isHomeRoute.hide();
      }
    }
  },
  computed: {
    profileEmpty() {
      return this.$store.getters.profile.length;
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "header";

.#{$pfx} {
  &__container {
    padding: 1rem 0;
    @media (max-width: 1200px) {
      padding: 1rem 2rem;
    }
    @media (max-width: 560px) {
      padding: 1rem;
    }
  }
  &__top {
    background-color: var(--background-color);
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &__main {
    background-color: var(--plain-background-color);
  }
  &__navigation {
    @media (max-width: 1200px) {
      display: none;
    }
    .btn {
      margin-right: 30px;
      @media (max-width: 1200px) {
        display: none;
      }
      svg {
        margin-right: 12px;
      }
    }
  }
  &__logo {
    // filter: grayscale(100%);
    height: 50px;
  }
  &__link {
    margin-right: 30px;
    text-decoration: none;
    color: var(--neutral-color);
    &:last-child {
      margin-right: 0;
    }
  }

  &__stats {
    @media (max-width: 1200px) {
      display: none;
    }
    &-item {
      margin-right: 2rem;
      color: var(--text-muted);
      svg {
        margin-right: 1rem;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__mobile {
    &-control {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 100%;
      background-color: var(--background-color);
      color: var(--primary-color);
      font-size: 0.8rem;
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
}
</style>
