<template>
  <div
    class="sidedrawer"
    :class="{ 'is-open': isOpen, [direction]: true }"
    ref="sidedrawer"
  >
    <div class="sidedrawer__wrapper">
      <!-- Шапка -->
      <div class="sidedrawer__header">
        <slot name="header">
          <router-link
            class="sidedrawer__header-link text-primary"
            :to="{ name: 'home' }"
          >
            <img
              :src="require('./assets/images/logo.png')"
              alt="Fotpix Roleplay"
            />
            <div class="sidedrawer__header-name font-size-md">
              {{ appName }}
            </div>
          </router-link>
        </slot>
      </div>
      <!-- Тело -->
      <div class="sidedrawer__body">
        <slot name="body">
          <div class="sidedrawer__nav" v-if="$store.getters.profile != null">
            <router-link
              class="sidedrawer__nav-link d-flex v-center link-hover font-size-md"
              :to="link.route.name"
              v-for="(link, i) in [
                ...siteConfig.navigation.mainMenu,
                ...siteConfig.navigation.topMenu
              ]"
              :key="i"
            >
              <span>{{ link.name }}</span>
            </router-link>
            <a
              href="http://fotpix.net/"
              class="sidedrawer__nav-link d-flex v-center link-hover font-size-md"
            >
              <span>Форум</span>
            </a>
          </div>
          <div class="sidedrawer__nav" v-else>
            <template
              v-for="link in [
                ...siteConfig.navigation.mainMenu,
                ...siteConfig.navigation.topMenu
              ]"
            >
              <router-link
                class="sidedrawer__nav-link d-flex v-center link-hover font-size-md"
                :to="link.route.name"
                v-if="link.route.name !== '/profile'"
                :key="link.index"
              >
                <span>{{ link.name }}</span>
              </router-link>
            </template>
            <a
              href="http://fotpix.net/"
              class="sidedrawer__nav-link d-flex v-center link-hover font-size-md"
            >
              <span>Форум</span>
            </a>
            <a
              class="sidedrawer__nav-link d-flex v-center link-hover font-size-md"
              @click="isShowAuth"
            >
              <span>Авторизация</span>
            </a>
          </div>
        </slot>
      </div>
      <!-- Подвал -->
      <div class="sidedrawer__footer">
        <slot name="footer"></slot>
      </div>
    </div>
    <!-- Фон -->
    <div class="sidedrawer__backdrop" @click="toggle(false)"></div>
  </div>
</template>

<script>
import HeaderMixin from "@/components/mixins/HeaderMixin";
import siteConfig from "@/config/index";

export default {
  mixins: [HeaderMixin],
  props: {
    direction: {
      type: String,
      default: "left"
    }
  },
  data() {
    return {
      siteConfig,
      appName: siteConfig.app.site.name,
      isOpen: false
    };
  },
  computed: {
    isLeft() {
      return this.direction == "left";
    },
    profileEmpty() {
      return this.$store.getters.profile.length;
    }
  },
  watch: {
    $route() {
      this.toggle(false);
    },
    isOpen(flag) {
      this.$emit("toggle", flag);
    }
  },
  mounted() {
    if (typeof window !== "undefined") {
      let app = this.getAppEl();
      if (this.isLeft) {
        app.style.left = "0px";
        app.style.right = "auto";
      } else {
        app.style.right = "0px";
        app.style.left = "auto";
      }
    }
  },
  methods: {
    getAppEl() {
      return document.getElementById("app");
    },
    toggle(flag) {
      this.isOpen = flag;
      let app = this.getAppEl();
      let menuWidth = this.$refs.sidedrawer.offsetWidth;
      let dirProperty = this.isLeft ? "left" : "right";

      if (flag) {
        document.body.style.overflow = "hidden";
        app.style[dirProperty] = `${menuWidth}px`;
      } else {
        document.body.style.overflow = "auto";
        app.style[dirProperty] = `0px`;
      }
    },
    isShowAuth() {
      global.uncodes.app.isAuth = true;
      let app = this.getAppEl();
      let dirProperty = this.isLeft ? "left" : "right";
      if (this.isOpen) {
        this.isOpen = false;
        app.style[dirProperty] = `0px`;
        document.body.style.overflow = "auto";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.sidedrawer {
  $pfx: &;
  position: fixed;
  width: 80vw;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--background-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  will-change: left right;
  overflow-y: auto;
  &.left {
    left: -80vw;
  }
  &.right {
    right: -80vw;
  }
  &.is-open {
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    #{$pfx}__backdrop {
      pointer-events: all;
      opacity: 0.5;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 110;
    min-height: 100vh;
    padding-bottom: 5rem; // fix (ios нижняя панель закрывает пункт меню)
  }
  &__header {
    padding: 2rem;
    &-logo {
      width: 3rem;
      height: 3rem;
    }
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &-name {
      max-width: 150px;
      margin-left: 0.7em;
      line-height: 1.2;
      color: var(--neutral-color);
      font-weight: 500;
    }
  }
  &__nav {
    &-link {
      padding: 1.5rem 2rem;
      border-bottom: var(--border-width) solid var(--plain-background-color);
      text-decoration: none;
      color: var(--neutral-color);
      font-weight: 500;
      &:first-child {
        border-top: var(--border-width) solid var(--border-color);
      }
    }
  }
  // фон, перекрывающий контент сайта
  &__backdrop {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--background-color);
    opacity: 0;
  }
}
</style>
