<script>
export default {
  functional: true,
  props: {
    type: {
      type: String,
      default: "text"
    },
    label: {
      type: String,
      default: ""
    },
    value: {
      type: [String, Number],
      default: ""
    },
    state: {
      type: Boolean,
      default: true
    },
    variant: {
      type: String,
      default: "normal"
    }
  },
  render(h, context) {
    let { data, props, listeners } = context;
    let classList = "form-control rounded";
    let attrs = Object.assign(data.attrs, {
      type: props.type,
      placeholder: props.label
    });

    if (data.staticClass) {
      classList += " " + data.staticClass;
    }

    if (!props.state) {
      classList += " is-invalid";
    }

    const input = h("input", {
      ref: data.ref,
      props: props,
      attrs,
      domProps: {
        value: props.value
      },
      on: {
        ...listeners,
        ...(data.on && data.on.input
          ? { input: e => data.on.input(e.target.value) }
          : {})
      },
      directives: data.directives,
      class: classList
    });

    const label = h("label", {}, props.label);

    return h("div", { class: `form-label-group form-label-${props.variant}` }, [
      input,
      label
    ]);
  }
};
</script>

<style lang="scss">
.form-label-group {
  position: relative;
  > input,
  > label {
    height: var(--input-height);
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  .form-control {
    border: var(--input-border-width) solid var(--input-border-color);
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    line-height: 1.9;
    margin-bottom: 0; /* Override default `<label>` margin */
    color: var(--input-placeholder-color) !important;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
    @media (max-width: 640px) {
      font-size: var(--font-size-sm);
    }
  }
  input {
    &::placeholder {
      color: transparent !important;
    }
    &:not(:placeholder-shown) {
      padding-top: 1.3rem;
      padding-bottom: 0.25rem;
      ~ label {
        padding-top: 0.3rem;
        padding-bottom: 0.35rem;
        font-size: var(--font-size-xs);
        color: var(--input-placeholder-color);
      }
    }
    &.is-invalid {
      ~ label {
        --input-placeholder-color: red;
      }
    }
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
// variants
.form-label-primary {
  & .form-control {
    border-color: var(--plain-background-color);
    background-color: var(--plain-background-color);
    color: var(--neutral-color);
  }
  > label {
    color: var(--text-muted) !important;
  }
  input {
    &:not(:placeholder-shown) {
      ~ label {
        color: var(--text-muted);
      }
    }
  }
}
</style>
