h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-heading);
}

svg {
  fill: currentColor;
  &.inline-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    &.sm {
      font-size: 0.6em;
    }
  }
}

img {
  max-width: 100%;
}

p, ul {
  margin-bottom: 0;
}