:root {
  --neutral-color: #FFFFFF;
  --neutral-color-inverse: #203649;

  --primary-color: #0080FF;
  --secondary-color: #00DD80;
  --tertiary-color: #FED130;

  --body-color: #fff;
  --body-color-inverse: #0C1729; // Проставляется тексту например при наведении, когда фон заливается другим цветом
  --background-color: #0C1729;
  --background-color-invers: #FBFBFD;
  --plain-background-color: #203649;


  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-base: 1rem; // 16px
  --font-size-md: 1.125rem; // 18px
  --font-size-lg: 1.5rem; // 24px
  --font-size-xl: 2.25rem; // 36px


  --text-opacity: 0.6; // Для светлого варианта текста
  --line-height: 1.5; // Базовый
  --line-height-heading: 1.1; // Для заголовков
  --text-muted-40: rgba(255, 255, 255, 0.4);
  --text-muted-60: rgba(255, 255, 255, 0.6);
  --text-muted: var(--text-muted-60);


  --container-width: 1160px;
  --container-spacer-x: 30px;
  --grid-gap: 2rem;

  --border-radius: 6px;
  --border-width: 1px;


  --btn-color: var(--body-color);
  --btn-border-radius: var(--border-radius);
  --btn-paddiung-y: 1.1rem;
  --btn-padding-x: 1.2rem;

  --input-height: calc(1.1em + 2.2rem + 2px);
  --input-placeholder-color: rgba(0, 0, 0, 0.6);
  --input-border-color: rgba(0, 0, 0, 0.2);
  --input-border-width: 1px;
  --input-padding-y: 0.75rem;
  --input-padding-x: 1.2rem;
}