<template>
  <div class="donate__container container">
    <div class="donate__wrap f-center dir-column w-100">
      <div
        class="donate__sup font-size-base font-weight-semibold text-uppercase"
      >
        Донат
      </div>
      <div class="donate__title font-size-xl font-weight-bold text-center">
        Пополнение счета аккаунта
      </div>
      <div class="donate__form d-flex dir-column">
        <div class="donate__form-col d-flex v-center w-100">
          <div class="form-group w-100">
            <ui-input label="Логин" variant="primary" v-model="login" />
          </div>
          <div class="form-group w-100">
            <ui-input
              label="Сумма"
              variant="primary"
              type="number"
              v-model="summa"
            />
          </div>
          <div class="form-group w-100">
            <ui-input label="Почта" variant="primary" v-model="email" />
          </div>
        </div>
        <div class="donate__form-col d-flex v-center w-100">
          <ul class="donate__form-list d-flex v-center w-100">
            <li class="d-flex font-size-sm">
              <a href="#" class="no-underline">Инструкция пополнения</a>
            </li>
            <li class="d-flex font-size-sm">
              <a href="#" class="no-underline">Пользовательское соглашение</a>
            </li>
            <li class="d-flex font-size-sm">
              <a href="#" class="no-underline">Что можно приобрести</a>
            </li>
          </ul>
          <ui-button hover variant="primary" class="w-100" @click="isDonate">
            <span class="font-weight-semibold">Пополнить счёт</span>
          </ui-button>
        </div>
      </div>
      <div
        class="donate__sup font-size-base font-weight-semibold text-uppercase"
      >
        Цены
      </div>
      <div class="donate__title font-size-xl font-weight-bold text-center">
        Стоимость пакетов
      </div>
      <div class="donate__items v-start w-100">
        <div
          class="donate__item d-flex dir-column rounded"
          v-for="(item, i) in plans"
          :key="`plan${i}`"
          @click="isSelectPlan(i)"
          :class="{ active: selectPlan.id == i }"
        >
          <div class="donate__item-sup d-flex v-center font-size-sm">
            {{ item.name }}
            <ui-icon icon="flame" v-if="item.popular" />
          </div>
          <div class="donate__item-price font-size-lg font-weight-bold">
            {{ item.price | priceFormat }}
          </div>
          <ul class="donate__item-list d-flex dir-column">
            <li
              class="font-size-sm"
              v-for="(list, i) in item.items"
              :key="`list${i}`"
            >
              {{ list.name }}
            </li>
          </ul>
        </div>
      </div>
      <ui-button variant="tertiary" hover circle v-if="selectPlan.name != null">
        <span
          >Приобрести {{ selectPlan.name }} пакет за
          {{ selectPlan.price | priceFormat }}</span
        >
      </ui-button>
      <ui-button
        class="donate__plane-notselect"
        variant="dark"
        circle
        disabled
        v-else
      >
        <span>Выберите пакет</span>
      </ui-button>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Донат"
  },
  data() {
    return {
      login: "",
      summa: "",
      email: "",
      selectPlan: {
        id: null,
        name: null
      },
      plans: [
        {
          id: 0,
          popular: false,
          name: "Стартовый",
          price: "99",
          items: [
            { name: "$ 499 000" },
            { name: "Игровые шмотки" },
            { name: "3+ Машин" },
            { name: "2+ Бизнесов" }
          ]
        },
        {
          id: 1,
          popular: true,
          name: "Продвинутый",
          price: "199",
          items: [
            { name: "$ 999 000" },
            { name: "Игровые шмотки" },
            { name: "Уникальный номер" },
            { name: "5+ Машин" },
            { name: "4+ Бизнесов" }
          ]
        },
        {
          id: 2,
          popular: false,
          name: "Профессиональный",
          price: "349",
          items: [
            { name: "$ 1 999 000" },
            { name: "Уникальная тачка" },
            { name: "Игровые шмотки" },
            { name: "Уникальный номер" },
            { name: "Создание семьи" },
            { name: "8+ Машин" },
            { name: "8+ Бизнесов" },
            { name: "2+ Жилья" }
          ]
        }
      ]
    };
  },
  methods: {
    isSelectPlan(value) {
      this.selectPlan = this.plans[value];
    },
    isDonate() {
      if (this.login.length > 3 && this.summa != 0 && this.email.length > 3) {
        this.flash("Сейчас вы будете перенаправлены на оплату", "success", {
          timeout: 2000
        });
        setTimeout(() => {
          window.location.href = `https://unitpay.ru/pay/520-19d24/webmoney?sum=${this.summa}&account=${this.email}&desc=fotpix`;
        }, 2000);
      } else {
        this.flash("Произошла ошибка, проверьте данные", "error", {
          timeout: 2000
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "donate";

.#{$pfx} {
  &__container {
    margin: 80px auto 120px;
  }
  &__sup {
    color: var(--primary-color);
    @media (max-width: 680px) {
      font-size: var(--font-size-sm);
    }
  }
  &__title {
    color: var(--neutral-color);
    margin-bottom: 40px;
    @media (max-width: 680px) {
      font-size: var(--font-size-lg);
    }
  }
  &__form {
    margin-bottom: 120px;
    @media (max-width: 680px) {
      width: 100%;
    }
    .form-group {
      margin-right: 30px;
      &:last-child {
        margin-right: 0px;
      }
    }
    .btn {
      max-width: 220px;
      @media (max-width: 991px) {
        margin-bottom: 3rem;
      }
      @media (max-width: 680px) {
        max-width: initial;
        width: 100%;
      }
    }
    &-list {
      margin-right: 80px;
      min-width: 615px;
      border-bottom: solid 1px var(--text-muted-40);
      @media (max-width: 991px) {
        order: 2;
        justify-content: space-between;
        margin-right: 0;
      }
      @media (max-width: 680px) {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;
        min-width: initial;
      }
      li {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
        a {
          position: relative;
          padding-bottom: 1rem;
          color: var(--neutral-color);
          transition: 0.3s;
          @media (max-width: 680px) {
            padding: 0.5rem 0;
          }
          &:after {
            left: 0;
            opacity: 0;
            bottom: 0px;
            content: "";
            position: absolute;
            background-color: var(--primary-color);
            transition: opacity 0.3s;
            width: 100%;
            height: 3px;
            @media (max-width: 680px) {
              display: none;
            }
          }
          &:hover {
            @media (max-width: 680px) {
              color: var(--primary-color);
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
    &-col {
      &:first-child {
        margin-bottom: 36px;
        @media (max-width: 991px) {
          margin-bottom: 2rem;
        }
        @media (max-width: 680px) {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;
          .form-group {
            margin-right: 0;
          }
        }
      }
      &:last-child {
        @media (max-width: 991px) {
          flex-direction: column;
        }
      }
    }
  }
  &__items {
    display: grid;
    margin-bottom: 2.1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 30px 120px;
    max-width: 780px;
    @media (max-width: 680px) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
  &__item {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    @media (max-width: 680px) {
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background-color: var(--plain-background-color);
      transform: scale(1.05);
    }
    &.active {
      background-color: var(--plain-background-color);
      transform: scale(1);
    }
    &-sup {
      margin-bottom: 8px;
      color: var(--neutral-color);
      min-height: 24px;
      svg {
        margin-bottom: 5px;
        margin-left: 6px;
        height: 1.2rem;
      }
      @media (max-width: 680px) {
        text-align: center;
      }
    }
    &-price {
      margin-bottom: 24px;
      color: var(--neutral-color);
      @media (max-width: 680px) {
        font-size: var(--font-size-xl);
      }
    }
    &-list {
      li {
        line-height: 2.4;
        color: var(--text-muted);
      }
    }
  }
  &__plane {
    &-notselect {
      background-color: var(--plain-background-color);
      cursor: not-allowed;
    }
  }
}
</style>
