<template>
  <div id="app" ref="app">
    <app-header />
    <main>
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </main>
    <app-footer />

    <flash-message transitionName="flash" class="myalert" />

    <!-- modals begin -->
    <ui-modals v-model="isGift" title="Участвуйте в раздаче призов">
      <ui-input label="Почта" />
      <ui-button hover>
        <span class="font-weight-semibold">Получить приз</span>
      </ui-button>
    </ui-modals>
    <ui-modals v-model="isAuth" title="Авторизация">
      <ui-input label="Введите логин" />
      <ui-input label="Введите пароль" type="password" />
      <ui-button hover>
        <span class="font-weight-semibold">Войти</span>
      </ui-button>
      <div
        class="auth-modal__recovery text-center font-size-sm w-100"
        @click="isShowRecovery"
      >
        Забыли пароль?
      </div>
    </ui-modals>
    <ui-modals v-model="isRecovery" title="Сброс пароля">
      <ui-input label="Введите логин или e-mail" />
      <ui-button hover>
        <span class="font-weight-semibold">Сбросить</span>
      </ui-button>
    </ui-modals>
    <!-- modals end -->
  </div>
</template>

<script>
import { mapState } from "vuex";
import siteConfig from "@/config/app";
import appHeader from "./header/AppHeader";
import appFooter from "./footer/AppFooter";

export default {
  metaInfo: {
    titleTemplate(title) {
      // todo из конфига или .env
      let addTitle = `${siteConfig.site.name} | ${siteConfig.site.address}`;
      return title ? `${title} | ${addTitle}` : addTitle;
    },
    htmlAttrs: {
      lang: "ru"
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "viewport",
        content:
          "width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
      },
      { name: "description", content: siteConfig.site.description }
    ]
  },
  components: {
    appHeader,
    appFooter
  },
  data() {
    return {
      isGift: false,
      isAuth: false,
      isRecovery: false
    };
  },
  methods: {
    isShowRecovery() {
      this.isAuth = false;
      this.isRecovery = true;
    }
  },
  mounted() {
    global.uncodes.app = this;
  }
};
</script>

<style style lang="scss">
@import "@/assets/styles/build";

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.auth-modal__recovery {
  cursor: pointer;
  margin-top: 1.125rem;
  transition: color 0.3s;
  color: #6e748b;
  &:hover {
    color: var(--neutral-color-inverse);
  }
}

.myalert {
  z-index: 99;
  position: absolute;
  right: 1rem;
  top: 1rem;
  .flash__message {
    transition: all 500ms;
  }
}
.flash-enter,
.flash-leave-to {
  opacity: 0;
  transform: rotateX(-30deg) scale(0.88) translateY(-30px);
}
.flash-leave-active {
  position: absolute;
}
</style>
