<template>
  <div class="header__container f-center w-100">
    <div class="header__video f-center">
      <video
        :poster="require('./assets/images/header-bg.jpg')"
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        preload="auto"
        width="100%"
        v-if="isLoaded"
      >
        <source
          :src="require('./assets/video/trailer.mp4')"
          type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
        />
      </video>
    </div>
    <div class="header__row d-flex dir-column w-100">
      <div class="header__suptitle font-size-md font-weight-semibold">
        Fotpix Roleplay
      </div>
      <div class="header__title font-size-xl font-weight-semibold">
        Воплощай свои самые смелые идеи и мечты
      </div>
      <div class="header__bottom d-flex v-center">
        <ui-button circle hover size="lg" @click="$router.push('/start')">
          Начать игру
          <ui-icon icon="arrow" />
        </ui-button>
        <a
          href="#"
          target="_blank"
          class="header__bottom-video d-flex v-center no-underline font-size-base font-weight-semibold"
        >
          <ui-icon icon="play-video" />
          Смотреть ролик
        </a>
      </div>
    </div>
    <svg-anim class="header__svganim" />
  </div>
</template>

<script>
import svgAnim from "./assets/svg/svg-animate.svg";
export default {
  components: {
    svgAnim
  },
  data() {
    return {
      isLoaded: true
    };
  }
};
</script>

<style lang="scss" scoped>
$pfx: "header";

.#{$pfx} {
  &__container {
    position: relative;
    margin-bottom: 120px;
    min-height: 765px;
    @media (max-width: 1200px) {
      min-height: initial;
      height: auto;
    }
  }
  &__row {
    z-index: 3;
    margin: 0 auto;
    position: relative;
    max-width: 495px;
    @media (max-width: 1200px) {
      padding: 6rem 0;
    }
    @media (max-width: 560px) {
      padding: 6rem 1rem;
    }
  }
  &__video {
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    &:before {
      z-index: 2;
      content: "";
      position: absolute;
      background-color: var(--background-color);
      opacity: 0.9;
      height: 100%;
      width: 100%;
    }
    @media (max-width: 920px) {
      display: none;
    }
  }
  &__suptitle {
    margin-bottom: 1rem;
    color: var(--primary-color);
    @media (max-width: 560px) {
      font-size: var(--font-size-base);
    }
  }
  &__title {
    margin-bottom: 2rem;
    color: var(--neutral-color);
    @media (max-width: 560px) {
      font-size: var(--font-size-lg);
    }
  }
  &__svganim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 560px;
    transform: translateZ(0);
    will-change: opacity;
    user-select: none;
    z-index: 1;
  }

  &__bottom {
    @media (max-width: 560px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .btn {
      margin-right: 1.75rem;
      @media (max-width: 560px) {
        margin-bottom: 1rem;
        padding: 1.125rem 0;
        width: 100%;
      }
      svg {
        transition: 0.5s;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
      }
      &:hover {
        svg {
          transform: translateX(0.75rem);
        }
      }
    }
    &-video {
      color: var(--neutral-color);
      svg {
        stroke: var(--neutral-color);
        transition: 0.5s;
        margin-right: 12px;
        height: 2.25rem;
      }
      &:hover {
        svg {
          transform: scale(1.15);
        }
      }
      &:active {
        svg {
          transform: scale(0.85);
        }
      }
    }
  }
}
</style>
