<template>
  <div class="monitoring__container container">
    <div class="monitoring__row f-center dir-column w-100">
      <div
        class="monitoring__sup text-center font-size-sm text-uppercase font-weight-semibold"
      >
        Мониторинг
      </div>
      <h2 class="monitoring__title text-center font-size-xl font-weight-bold">
        Начните знакомство c GTA San Andreas Online на серверах Fotpix Roleplay!
      </h2>
      <div class="monitoring__list d-flex v-start h-center rounded w-100">
        <div class="monitoring__list-item d-flex dir-column">
          <div class="monitoring__list-item-headline d-flex v-center">
            <ui-icon icon="hosted" />
            <h6 class="font-size-sm">
              Адрес сервера
            </h6>
          </div>
          <h2 class="font-size-lg font-weight-medium">
            {{ siteConfig.app.site.address }}
          </h2>
        </div>
        <div class="monitoring__list-item d-flex dir-column">
          <div class="monitoring__list-item-headline d-flex v-center">
            <ui-icon icon="peoplegroup" />
            <h6 class="font-size-sm">
              Сейчас онлайн
            </h6>
          </div>
          <h2 class="font-size-lg font-weight-medium">
            500 из 1000
          </h2>
        </div>
        <stats-icon class="monitoring__list-svg" />
      </div>
      <div class="monitoring__footer d-flex v-center">
        <ui-button
          variant="primary"
          size="lg"
          circle
          hover
          @click="$router.push('start')"
        >
          <span>Начать играть</span>
          <ui-icon icon="arrow" />
        </ui-button>
        <ui-button
          variant="secondary"
          size="lg"
          circle
          hover
          @click="$router.push('monitoring')"
        >
          <span>Статистика сервера</span>
          <ui-icon icon="arrow" />
        </ui-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import siteConfig from "@/config/index";
import statsIcon from "./assets/svg/stats.svg";

export default {
  components: {
    statsIcon
  },
  data() {
    return {
      siteConfig
    };
  }
};
</script>

<style lang="scss" scoped>
$pfx: "monitoring";

.#{$pfx} {
  &__container {
    margin-bottom: 120px;
  }
  &__row {
    max-width: 820px;
    margin: 0 auto;
    @media (max-width: 640px) {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &__sup {
    margin-bottom: 0.75rem;
    color: var(--primary-color);
    @media (max-width: 768px) {
      font-size: var(--font-size-xs);
    }
  }
  &__title {
    margin-bottom: 3rem;
    color: var(--neutral-color);
    @media (max-width: 768px) {
      font-size: var(--font-size-lg);
    }
    @media (max-width: 640px) {
      text-align: left !important;
    }
  }
  &__list {
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
    background-color: var(--background-color);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.25);
    color: var(--neutral-color);
    padding: 2rem;
    height: 370px;
    @media (max-width: 768px) {
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 0rem;
      flex-wrap: wrap;
      box-shadow: none;
      height: initial;
    }
    @media (max-width: 640px) {
      flex-direction: column;
      padding: 1rem 0;
    }
    &-svg {
      position: absolute;
      fill: transparent;
      right: 0;
      bottom: -15%;
      left: -2.5%;
      margin: auto;
      width: 105%;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &-item {
      @media (max-width: 640px) {
        margin-bottom: 2rem;
      }
      &:first-child {
        margin-right: 5rem;
        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
      &-headline {
        margin-bottom: 0.75rem;
        color: var(--text-muted);
        svg {
          margin-right: 12px;
        }
        h6 {
          font-weight: 400;
        }
      }
    }
  }
  &__footer {
    @media (max-width: 640px) {
      flex-wrap: wrap;
    }
    .btn {
      @media (max-width: 640px) {
        width: 100%;
      }
      &:first-child {
        margin-right: 30px;
        @media (max-width: 640px) {
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
      svg {
        transition: 0.5s;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
      }
      &:hover {
        svg {
          transform: translateX(0.75rem);
        }
      }
    }
  }
}
</style>
