<template>
  <div class="news__container container w-100">
    <div class="news__row d-flex v-center h-between w-100">
      <div class="news__body">
        <div
          class="news__body-sup font-size-sm text-uppercase font-weight-semibold"
        >
          Новости
        </div>
        <h2 class="news__body-title font-size-xl font-weight-bold">
          Не пропусти все самое интересное
        </h2>
        <div class="news__body-sub">
          Следите за всеми самыми необычайно интересными и превосходными
          новостями о проекте
        </div>
        <ui-button circle hover size="lg" @click="$router.push('news')">
          Следить
          <ui-icon icon="arrow" />
        </ui-button>
      </div>
      <div class="news__picture f-center w-100">
        <picture>
          <source
            :srcset="require('./assets/images/accent-news@webp.webp')"
            type="image/webp"
          />
          <img
            :src="require('./assets/images/accent-news.png')"
            :srcset="require('./assets/images/accent-news@2x.png') + ' 2x'"
            alt="Следи за новостями"
          />
        </picture>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
$pfx: "news";

.#{$pfx} {
  &__container {
    margin-bottom: 120px;
    @media (max-width: 520px) {
      margin-bottom: 80px;
    }
  }
  &__row {
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  &__body {
    max-width: 465px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    &-sup {
      margin-bottom: 0.75rem;
      color: var(--primary-color);
      @media (max-width: 768px) {
        font-size: var(--font-size-xs);
      }
    }
    &-title {
      margin-bottom: 2rem;
      color: var(--neutral-color);
      @media (max-width: 768px) {
        font-size: var(--font-size-lg);
      }
    }
    &-sub {
      color: var(--neutral-color);
      margin-bottom: 2rem;
      @media (max-width: 768px) {
        font-size: var(--font-size-sm);
      }
    }
    .btn {
      svg {
        transition: 0.5s;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
      }
      &:hover {
        svg {
          transform: translateX(0.75rem);
        }
      }
    }
  }
  &__picture {
    position: relative;
    max-width: 590px;
    flex-shrink: 0;
    width: 100%;
    picture {
      display: block;
      width: 100%;
      height: auto;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
</style>
