<template>
  <div class="quiz__container container w-100">
    <div class="quiz__row d-flex v-center w-100">
      <div class="quiz__picture f-center w-100">
        <picture>
          <source
            :srcset="require('./assets/images/accent-quiz@webp.webp')"
            type="image/webp"
          />
          <img
            :src="require('./assets/images/accent-quiz.png')"
            :srcset="require('./assets/images/accent-quiz@2x.png') + ' 2x'"
            alt="Следи за новостями"
          />
        </picture>
      </div>
      <div class="quiz__body">
        <div
          class="quiz__body-sup font-size-sm text-uppercase font-weight-semibold"
        >
          Квиз
        </div>
        <h2 class="quiz__body-title font-size-xl font-weight-bold">
          Нам важно ваше мнение
        </h2>
        <div class="quiz__body-sub">
          В среднем опрос занимает не больше 5-ти минут, зато мы сможем больше
          узнать о предпочьтеньях наших игроков
          <br /><br />
          Ваша оценка важна для нас!
        </div>
        <ui-button circle hover size="lg" @click="$router.push('quiz')">
          Пройти опрос
          <ui-icon icon="arrow" />
        </ui-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
$pfx: "quiz";

.#{$pfx} {
  &__container {
    margin-bottom: 240px;
    @media (max-width: 520px) {
      margin-bottom: 180px;
    }
  }
  &__row {
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  &__body {
    max-width: 465px;
    @media (max-width: 991px) {
      order: 1;
      margin-bottom: 30px;
    }
    &-sup {
      margin-bottom: 0.75rem;
      color: var(--primary-color);
      @media (max-width: 768px) {
        font-size: var(--font-size-xs);
      }
    }
    &-title {
      margin-bottom: 2rem;
      color: var(--neutral-color);
      @media (max-width: 768px) {
        font-size: var(--font-size-lg);
      }
    }
    &-sub {
      color: var(--neutral-color);
      margin-bottom: 2rem;
      @media (max-width: 768px) {
        font-size: var(--font-size-sm);
      }
    }
    .btn {
      svg {
        transition: 0.5s;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
      }
      &:hover {
        svg {
          transform: translateX(0.75rem);
        }
      }
    }
  }
  &__picture {
    margin-right: 75px;
    position: relative;
    max-width: 465px;
    flex-shrink: 0;
    width: 100%;
    picture {
      display: block;
      width: 100%;
      height: auto;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    @media (max-width: 991px) {
      order: 2;
    }
  }
}
</style>
