<template>
  <div class="stock__container f-center w-100">
    <water-anim class="stock__water" />
    <div class="stock__wrap container w-100">
      <div class="stock__body f-center dir-column w-100">
        <div
          class="stock__body-clock d-flex v-center font-size-base font-weight-semibold"
        >
          <ui-icon icon="clock" />
          <p v-if="timeParts.day.value != 0">
            Осталось {{ timeParts.day.value }}
            {{ timeParts.day.value | declension(timeDeclensions.day) }}
          </p>
          <p v-else-if="timeParts.day.value == 0 && timeParts.hour.value != 0">
            Осталось {{ timeParts.hour.value }}
            {{ timeParts.hour.value | declension(timeDeclensions.hour) }}
          </p>
          <p v-else-if="timeParts.day.value == 0 && timeParts.hour.value == 0">
            Осталось {{ timeParts.minute.value }}
            {{ timeParts.minute.value | declension(timeDeclensions.minute) }}
            {{ timeParts.second.value }}
            {{ timeParts.second.value | declension(timeDeclensions.second) }}
          </p>
        </div>
        <h2 class="stock__body-title font-size-xl font-weight-bold">
          {{ stock.name }}
        </h2>
        <ui-button circle size="normal" variant="outline" @click="isShowGift">
          Принять участие
        </ui-button>
      </div>
    </div>
  </div>
</template>

<script>
import timerMixin from "@/components/ui/timer/timerMixin";
import waterAnim from "./assets/svg/water.svg";

export default {
  mixins: [timerMixin],
  props: {
    stock: {
      type: Object
    },
    expires: {
      type: [String, Date]
    }
  },
  components: {
    waterAnim
  },
  data() {
    return {};
  },
  methods: {
    isShowGift() {
      global.uncodes.app.isGift = true;
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "stock";

.#{$pfx} {
  &__container {
    position: relative;
    background-color: var(--primary-color);
    min-height: 380px;
  }
  &__water {
    z-index: -1;
    top: -100px;
    pointer-events: none;
    position: absolute;
    transform: translateZ(0);
    fill: var(--primary-color);
    width: 100%;
    height: 100%;
    @media (max-width: 640px) {
      top: -25px;
    }
  }
  &__body {
    margin: auto;
    position: relative;
    max-width: 670px;
    &-clock {
      margin-bottom: 1.75rem;
      color: var(--neutral-color);
      svg {
        margin-right: 1.125rem;
      }
      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
      @media (max-width: 560px) {
        font-weight: 400;
        font-size: var(--font-size-sm);
      }
    }
    &-title {
      margin-bottom: 2rem;
      text-align: center;
      color: var(--neutral-color);
      @media (max-width: 768px) {
        font-size: var(--font-size-lg);
      }
      @media (max-width: 560px) {
        font-size: var(--font-size-md);
      }
    }
  }
}
// TODO: вынести в SVG файл
@keyframes waves {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.o-waves {
  animation: waves 5s linear infinite 0s;
}
// TODO end
</style>
