<template>
  <div class="footer__container w-100">
    <div class="footer__row container d-flex v-start h-between">
      <div class="footer__col d-flex dir-column w-100">
        <h3 class="footer__title font-size-md font-weight-bold">
          Рассылка новостей
        </h3>
        <h6 class="footer__subtitle font-size-base">
          Не пропустите интересные обновление нашего проекта!
        </h6>
        <ui-input label="Почта" class="footer__input" />
        <ui-button size="normal" hover>
          <ui-icon icon="email" />
          Подписаться
        </ui-button>
      </div>
      <div class="footer__col d-flex dir-column w-100">
        <h3 class="footer__title font-size-md font-weight-bold">
          Fotpix
        </h3>
        <div
          class="footer__navigation d-flex dir-column"
          v-if="$store.getters.profile != null"
        >
          <router-link
            class="footer__link link-hover-color-only font-size-base"
            :to="link.route.name"
            v-for="(link, i) in [
              ...siteConfig.navigation.mainMenu,
              ...siteConfig.navigation.topMenu
            ]"
            :key="i"
          >
            <span>{{ link.name }}</span>
          </router-link>
        </div>
        <div class="footer__navigation d-flex dir-column" v-else>
          <template
            v-for="(link, i) in [
              ...siteConfig.navigation.mainMenu,
              ...siteConfig.navigation.topMenu
            ]"
          >
            <router-link
              class="footer__link link-hover-color-only font-size-base"
              :to="link.route.name"
              v-if="link.route.name !== '/profile'"
              :key="i"
            >
              <span>{{ link.name }}</span>
            </router-link>
          </template>
          <a
            class="footer__link link-hover-color-only font-size-base"
            @click="isShowAuth"
          >
            <span>Авторизация</span>
          </a>
        </div>
      </div>
      <div class="footer__col d-flex dir-column w-100">
        <h3 class="footer__title font-size-md font-weight-bold">
          Скачать
        </h3>
        <div class="footer__navigation d-flex dir-column">
          <a href="#" class="footer__link link-hover-color-only font-size-base">
            <span
              >Скачать
              <strong class="font-weight-semibold"
                >GTA San Andreas</strong
              ></span
            >
          </a>
          <a href="#" class="footer__link link-hover-color-only font-size-base">
            <span
              >Скачать
              <strong class="font-weight-semibold">клиент MTA</strong></span
            >
          </a>
          <a href="#" class="footer__link link-hover-color-only font-size-base">
            <span
              >Скачать
              <strong class="font-weight-semibold">лаунчер</strong></span
            >
          </a>
        </div>
      </div>
      <div class="footer__col d-flex dir-column w-100">
        <h3 class="footer__title font-size-md font-weight-bold">
          Мы в соц.сетях
        </h3>
        <div class="footer__navigation d-flex v-center">
          <a href="https://vk.com/" class="footer__link-social">
            <ui-icon icon="vk" />
          </a>
          <a href="https://youtube.com/" class="footer__link-social">
            <ui-icon icon="yu" />
          </a>
          <a href="https://telegram.org/" class="footer__link-social">
            <ui-icon icon="tg" />
          </a>
          <a href="https://discordapp.com/" class="footer__link-social">
            <ui-icon icon="ds" />
          </a>
        </div>
      </div>
    </div>
    <div class="footer__row container d-flex v-center h-between w-100">
      <div class="footer__copyright font-size-sm">
        Fotpix.net © 2019 г. Все права защищены
      </div>
      <div class="footer__dev font-size-sm">
        Сделано в
        <a
          href="https://uncodes.ru/"
          class="no-underline text-uppercase font-weight-bold"
          target="_blank"
          >uncodes</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import siteConfig from "@/config/index";
export default {
  data() {
    return {
      siteConfig
    };
  },
  methods: {
    isShowAuth() {
      global.uncodes.app.isAuth = true;
    }
  }
};
</script>

<style lang="scss" scoped>
$pfx: "footer";

.#{$pfx} {
  &__container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 18px;
    background-color: var(--background-color-invers);
    .form-label-group {
      max-width: 245px;
    }
    .btn {
      max-width: 245px;
      svg {
        margin-right: 12px;
        height: 1.125rem;
      }
    }
    @media (max-width: 1200px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__row {
    &:first-child {
      margin-bottom: 80px;
    }
    @media (max-width: 1200px) {
      &:first-child {
        display: none;
      }
    }
    @media (max-width: 680px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__col {
    max-width: 245px;
    &:first-child {
      max-width: 360px;
    }
    @media (max-width: 1200px) {
      &:nth-child(3) {
        display: none;
      }
    }
  }
  &__title {
    padding-bottom: 1rem;
    color: var(--body-color-inverse);
  }
  &__subtitle {
    font-weight: 400;
    color: var(--body-color-invers);
    margin-bottom: 32px;
    max-width: 265px;
  }
  &__link {
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--body-color-inverse);
    &:last-child {
      margin-bottom: 0;
    }
    &-social {
      opacity: 0.8;
      margin-right: 20px;
      transition: 0.3s;
      svg {
        height: 1.5rem;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: scale(1.15);
        opacity: 1;
      }
    }
  }
  &__input {
    margin-bottom: 20px;
  }
  &__copyright {
    color: var(--plain-background-color);
    @media (max-width: 680px) {
      margin-bottom: 1rem;
    }
  }
  &__dev {
    opacity: 0.6;
    color: var(--body-color-inverse);
    a {
      color: var(--secondary-color);
    }
  }
}
</style>
