<template>
  <div class="notfound__container container">
    <div class="notfound__wrap f-center dir-column w-100">
      <div class="notfound__picture">
        <img :src="require('./assets/icons/fly.png')" class="mask-primary" />
      </div>
      <div class="notfound__title font-weight-bold">404</div>
      <div class="notfound__sub w-100 font-size-base text-center">
        Страница временно недоступна или не найдена
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Страница не найдена"
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
$pfx: "notfound";

.#{$pfx} {
  &__container {
    margin: 120px auto;
    position: relative;
  }
  &__picture {
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 8rem;
    color: var(--primary-color);
    margin-bottom: 8px;
  }
  &__sub {
    color: var(--neutral-color);
    max-width: 295px;
  }
}
</style>
